---
import BackgroundEffect from "../components/BackgroundEffect.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Error! - Jhon PitMac">
  <BackgroundEffect />
  <div class="container">
    <h2 class="subtitle">-- 404 Error --</h2>
    <br />
    <a class="btn" href="/">GO HOME</a>
  </div>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100vw;
    height: 100vh;
  }
</style>
