---
import BackgroundEffect from "../../components/BackgroundEffect.astro";
import Header from "../../components/Header.astro";
import ProjectList from "../../components/ProjectList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects - Jhon PitMac">
  <BackgroundEffect />
  <div class="container">
    <Header title="Projects" />
    <section class="list">
      <ProjectList />
    </section>
  </div>
</Layout>

<style>
  .list {
    width: 100%;
    align-items: center;
  }
</style>
