---
import ProjectList from "../../components/ProjectList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Projects - Jhon PitMac">
  <div class="container">
    <header class="header">
      <a href="/">
        <i class="fa-sharp fa-solid fa-circle-left fa-2x"></i>
      </a>
      <h1>Projects</h1>
    </header>
    <hr />
    <section class="list">
      <ProjectList />
    </section>
  </div>
</Layout>

<style>
  .container {
    color: aliceblue;
  }
  .header {
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .fa-sharp {
    margin: 0px 10px;
    color: var(--secondary-color);
  }
  .fa-sharp:hover {
    margin-right: 10px;
    transition: all 1s;
    color: var(--hover-color);
  }
  .list {
    width: 100%;
    align-items: center;
  }
</style>
